  <div id="block_form">
  <% @url = request.url %>
  <% if current_user.blocking?(User.find(@user.id)) %>
    <%= render 'unblock' %>
  <% else %>
    <%= render 'block' %>
  <% end %>
  </div>