<% @like_id.each_with_index do |micro,idx| %>
  <% users = User.find(micro.liker_id) %>
  <div class="container">
    <div class="row">
      <div class="likeduser">
        <div class="col-lg-12"><%= picture_for users %>
                               <%= link_to users.name,'users/' + users.user_id,
                                   :style=>"color:white;font-size: 1.4em;"  %>
                              さんがいいねしました</div>
      </div>
        <div class="col-lg-12">
          <div class="bellmicroposts">
            <% @item = micro.liked_id %>
            <%= render "microposts/micropost" %>
          </div>
        </div>
    </div>
  </div>
  <% break if idx == 9 %>
<% end %>