@import "bootstrap-sprockets";
@import "bootstrap";

.kuhaku{
    padding:50px;
}
.kuhaku2{
    padding:5px;
}

.head{
    background-color: #605C55; 
}

.main{
    background-color: #D4C0A8;
}


.body2{
    background-color:#605C55;
}

.fotter{
     background-color: #605C55;
         padding:50px;
}

p{
    color:#fff;
    font-size: 15px;
}

h1{
    color:#fff;
    font-size:250%;

}

h2{
    color:#fff;
}

h3{
    color:#fff;
}



.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}
.btn-black:hover {
     background-color: #fff;
     color: #000;
}

.focus{
    background: #EFEEEE;
}




.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

/* マイクロポスト */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}