// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//無理やりCSS
/* microposts */

  $color1 : #0f1626;
  $color2 : #ab987a;
  $color3 : #f5f5f5;
  $color4 : #1A1A1C;


.microposts {
  list-style: none;
  display: block;
  padding: 0px;
  word-break: break-all;

  li{
    padding-top: 5px;
    background-color: $color3;
    border-top: 2px solid $color2;
    margin-bottom:-40px;
  }

  .user {
    position:relative;    //相対位置への配置
    font-size: 14.5px;
    font-weight: 600;
    color: $color4;
    top:-8px;             //名前を上に
    margin-left: 2px;
  }
  .content {
    position:relative;    //相対位置への配置
    display: block;
    top:-25px;             //エミットを上に
    margin-left: 80px;
   
    white-space: pre-wrap;
  }
  //  .timestamp {
 //   position:relative;    //相対位置への配置
 //   margin-left: 90px;
 //   margin-bottom:-50px;
//  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.favoritebtn{
    position:relative;    //相対位置への配置
    display: block;
    top:-29px;
    margin-left:77px;  
    font-size: 15px;
    color: #FBA746;
}

.favoritecount{
    position:relative;    //相対位置への配置
    display: block;
    top:-50.9px;
    margin-left:95px;  
    font-size: 15px;
    color: #FBA746;
}

.delete{
    position:relative;    //相対位置への配置
    display: block;
    top:-67.6px;
    margin-left:117px;
    font-size: 12px;
    color: #00AA90;
}


//ボタンの枠を削除
button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}