  $color1 : #0f1626;
  $color2 : #ab987a;
  $color3 : #f5f5f5;
  $color4 : #1A1A1C;

h1{
    padding-left:60px;
}


.ul{
    list-style:none;
}


.lmenu{
    display: block;
    padding: 0px;
    background-color: $color3;
    padding-top: 10px;
    padding-left:  10px;

}

.rmenu{
        background-color: $color3;
        padding: 20px;
}

textarea {
    resize: none;
}