// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  $color1 : #112D4E;
  $color2 : #3F72AF;
  $color3 : #DBE2EF;

body
{
    background-color: $color3;
    //background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}

.head
{
   // height: 47px;
    .container{
        width: auto;
    }
    padding:0px;
    padding-bottom:20px;
}

.main{
    background-color: $color2;
    .container{
        width: auto;
    }
    padding:0px;
    padding-top:20px;
}

.footer{
    .container-fiuld{
        width: auto;
    }
    padding:0px;
    padding-bottom:200px;
}


.menu
{
    padding-left: 20px;
}

.white
{
    color: $color3;
    top: 15px;
}

.kuhaku
{
    padding:8px;
}

.kuhaku2
{
    padding:35px;
}

.kuhaku3
{
    padding:55px;
}


ul{

}
li{
    
}