body
{
    background-color:#D4C0A8;
background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}


.topbar
{
    background-color:#605C55;
    height: 47px;
}

.menu
{
    padding-left: 20px;
}

.white
{
    color:#DCDCDC;
    top: 15px;
}

.kuhaku
{
    padding:8px;
}


//ユーザーのプロフィール
.menuimg
{
    position:relative;
}

.thumbnailimg
{
    position:absolute;
    left:25px;
    top: 15px;
}

.username
{
    position:absolute;
    left:120px;
    top: 45px;
    font-weight: bold;
    font-size: 20px;
}

.userid
{
    position:absolute;
    left:120px;
    top: 75px;
}

.emit
{
    position:absolute;
    left:40px;
    top: 100px;
}

//テキストエリア、ボタン下揃え
.flex-container {
  display: flex;
}


