<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
      <h1>500 ERROR Internal Server Error</h1>
      <p>　　　・サーバーがエラーを検出したため、実行することができませんでした。<p>
      <p>　　　・[<a href="javascript:void(0);" onclick="window.history.back();">戻る</a>]
                  または[<a href="/">HOME</a>]をクリックしてください。</p>


</body>
</html>
