<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
      <h1>404 ERROR Not Found</h1>
      <p>　　　・指定したページが見つかりません。</p>
      <p>　　　・ページが移動または削除されたか、URLの入力間違いの可能性があります。</p>
      <p>　　　・[<a href="javascript:void(0);" onclick="window.history.back();">戻る</a>]
                  または[<a href="/">HOME</a>]をクリックしてください。</p>
</body>
</html>
