<h1>Monolog</h1>

<p>@<%= @user.user_id %>さん、下記のリンクをクリックしてアカウントの有効化を完了させてください。</p>

<%= link_to "アカウントを有効にする。", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>